:root {
    --x-margin: clamp(20px, 4vw, 80px);
    --y-margin: 80px;
    --color-80: 30, 18, 38;
    --color-20: 52, 66, 217;
    --bg-1: 28, 7, 26;
    --bg-2: 23, 14, 33;
    background: rgba(49, 34, 54, 1);
    color: white;
    font-family: roboto;
    font-size: clamp(14px, 2vw, 16px);
}

body {
	overflow: hidden;
}

h2 {
    text-align: center;
    font-weight: heavy;
    font-family: rubik;
}

* {
    margin: 0px;
    padding: 0px;
}

.hero {
    position: relative;
    background: linear-gradient(90deg, rgba(var(--bg-2), 1), rgba(var(--bg-1), 1));
    position: relative;
}

.hero>* {
    position: relative;
    z-index: 1;
}

#heroTop {
    height: 100vh;
}

#heroTop::before {
    background: url(https://www.slashgear.com/img/gallery/major-headphone-brands-ranked-worst-to-best/l-intro-1681592313.jpg);
    background-size: cover;
}

#heroTop h2 {
    font-size: 60px;
}

.hero::before {
    content: "";
    z-index: 0;
    filter: brightness(90%);
    position: absolute;
    inset: 0;
    opacity: 0.2;
}

.hero__content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__content>p {
    margin-bottom: 20px;
    font-size: 20px;
}

.hero__content>img {
    width: 120px;
    margin-bottom: 10px;
}
