:root {
	--x-margin: clamp(20px, 4vw, 80px);
	--y-margin: 80px;
	--color-80: 30, 18, 38;
	--color-20: 52, 66, 217;
	--bg-1: 28, 7, 26;
	--bg-2: 23, 14, 33;
	background: rgba(var(--bg-2), 1);
	color: white;
	font-family: roboto;
	font-size: clamp(14px, 2vw, 16px);
}

ul { list-style: none; }
a {
	text-decoration: none;
	color: white;
}
h1, h2 {
	text-align: center;
	font-weight: heavy;
	font-family: rubik;
}
* {
	margin: 0px; 
	padding: 0px;
}

main {
	padding: 0px clamp(0px, 1vw, 100px);
	padding-top: 50px;
}

main > h2 {
	font-size: 40px;
	margin-bottom: 50px;
}

.contentWrapper {
	display: grid;
	grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
}
.contentWrapper > section {
	margin-bottom: 50px;
}


.hero {
	position: relative;
	background: linear-gradient(90deg, rgba(var(--bg-2), 1), rgba(var(--bg-1), 1));
	position: relative;
	padding: 15px var(--x-margin);
}

.hero > * {
	position: relative;
	z-index: 1;
}

#heroTop { height: 600px; }
#heroTop::before { 
	background: url(https://www.slashgear.com/img/gallery/major-headphone-brands-ranked-worst-to-best/l-intro-1681592313.jpg); 
	background-size: cover;
}
#heroTop h2 {
	font-weight: 1000;
	font-size: 60px;
}

#heroBot {height: 300px; }
#heroBot::before { 
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhVAt2kw13BmHe0pmNLrjv7cpYT_Up7nJnhxZGuq05OIYAXOTMbdwjf3NbrkeXcq_7mB0&usqp=CAU); 
	background-size: cover;
	background-position-y: 50%;
}
#heroBot h2 {
	font-weight: 1000;
	font-size: 40px;
}

.hero::before {
	content: "";
	z-index: 0;
	filter: brightness(90%);
	position: absolute;
	inset: 0;
	opacity: 0.2;
}

.hero__content {
	text-align: center;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.hero__content > p { margin-bottom: 20px; }
.hero__content > img {
	width: 100px;
	margin-bottom: 10px;
}

header {
	display: flex;
	align-items: center;
}

header > img { width: 30px; }
header > nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

header .button-list {
	display: flex;
	gap: 10px;
}

a { 
	background: rgba(var(--color-20), 1); 
	padding: 8px 15px; 
}
.button:hover { filter: brightness(140%); }

.logo { aspect-ratio: 1; }

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.content__image {
	width: 100px;
	aspect-ratio: 1;
}
.content__text {
	max-width: 50%;
	text-align: center;
}
.content__text > h2 { font-size: 32px; }

.buttonCTA {
	margin: auto;
}

.img--invert { filter: invert(100%); }
