$bg--deep: rgb(13, 13, 13);
$bg--shallow: rgb(28, 28, 28);
$bg--normal: rgb(51, 51, 51);
$text--dim: rgb(150, 150, 150);

#topbar__greeter {

	p {
		margin: 0px;
		padding: 0px;
	}

	> #greeter__recipient {
		font-weight: bold;
	}

	> :not(#greeter__recipient) {
		color: $text--dim;
	}
}
