$accent: rgb(63, 31, 157);
$bg--deep: rgb(13, 13, 13);
$bg--shallow: rgb(28, 28, 28);
$bg--normal: rgb(51, 51, 51);
$text--dim: rgb(150, 150, 150);
$text: white;

$subheading: rgb(216, 161, 126);
$x-margin: clamp(20px, 4vw, 80px);
$y-margin: 30px;

a {
	text-decoration: none;
}

.icon {
	aspect-ratio: 1;
	filter: brightness(70%);
	transition: 0.25s filter;
	
	> img {
		aspect-ratio: 1;
		width: 100%;
		height: 100%;
	}

	&:hover {
		cursor: pointer;
		filter: brightness(120%);
	}
}

.icon--small { width: 20px; }
.icon--normal { width: 30px; }
