@use './globals' as *;

.contentList__item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 8px 0px;
	border-bottom: 3px solid $bg--shallow;
	
	&:hover {
		filter: brightness(150%);
	}

	> .item__image {
		border-radius: 10px;
		background: $bg--normal;
		height: 50px;
		aspect-ratio: 1;
	}

	.item__heading {
		font-weight: bold;
	}
}

.contentList__collection {
	display: grid;
	grid-template: 1fr / 100px 1fr;
	gap: 0px;

	> * {
		border-radius: 10px;
		background: $bg--shallow;
	}

	> .item__image {
		height: 80px;
		aspect-ratio: 1;
	}
	
	> .item__text {
		padding: 15px;
	}

	.item__heading {
		font-size: 20px;
		margin-bottom: 5px;
	}
}


.contentList__comment {
	display: grid;
	grid-template: 1fr / 50px 1fr;
	gap: 20px;
	border-bottom: 1px solid $text--dim;

	&:hover {
		filter: brightness(100%);
	}

	> .item__text {
		> .item__text--top {
			font-weight: bold;
			display: flex;
		}
	}

	.item__heading {
		font-size: 1rem;
		flex: 1;
	}


}
