@use './globals' as *;

.form__entry { 
	margin-bottom: 15px; 

	> input, 
	> select {
		width: 100%;
	}

	> input[type="text"] {
		box-sizing: border-box;
		border: 0px solid rgba(0, 0, 0, 0);
		border-radius: 5px;
		position: relative;
		padding: 8px;
		background: $bg--shallow;
		color: white;
		display: block;
	}

	> label {
		margin-bottom: 3px;
		font-size: 14px;
		display: block;
	}
}

.form__detailsWrapper {
	min-width: 240px;
	width: 100%;
	flex: 1;
}

.form__details {
	width: 100%;
	flex: 1;
	> .form__entry {
		width: 100%;
	}
}

.form__imgPreview {
	border: 1px solid $text--dim;
	background: $bg--shallow;
	border-radius: 20px;
}

.form__imgPreviewCaption {
	border: 1px solid $text--dim;
	position: absolute;
	background: rgba($bg--shallow, 0.75);
	border-radius: 20px;
	z-index: 10;

	&:hover {
		cursor: pointer;
		filter: brightness(120%);
	}

	> p {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}
}

.form__imgPreviewCaption--hidden {
	opacity: 0;
}

.form__imgInputSection {
	position: relative;
	gap: 10px;
}

.form__imgInput {
	position: absolute;
	top: -100vh;
}

.entry__warning {
	display: none;
	background: $warn;
}

.entry__warning--showing {
	display: block;
}

.formEntry__text {
	padding: 5px 10px;
	color: $text;
	background: $bg--shallow;
	display: block;
}

.formEntry__selection {
	padding: 5px 10px;
	color: $text;
	background: $bg--shallow;
	display: block;
}

.form__submitButton {
	border-radius: 10px;
	color: $text;
	background: $accent;
	height: 40px;
	border: 1px solid $accent;

	&:hover {
		cursor: pointer;
		filter: brightness(150%);
	}
}
