@use './_globals' as *;

#topbar__greeter {
	align-items: center;
	display: flex;
	gap: 10px;
	
	img {
		padding-top: 25%;
	}

	p {
		margin: 0px;
		padding: 0px;
	}
}

.greeter__word {
	#greeter__recipient {
		font-weight: bold;
	}

	> :not(#greeter__recipient) {
		color: $text--dim;
	}
}
