@use './globals' as *;

#homePage {
	color: $text;
	padding: $y-margin $x-margin;
}

#homePage__forYou {
	> .contentTiled__tile {
		> .tile__text {
			font-size: 20px;
		}
	}
}

.homePage__section {
	margin-bottom: 30px;

	> .section__heading {
		margin-bottom: 8px;
		font-size: 20px;
	}
}

.item__text {
	font-size: 14px;

	> .item__heading {
		font-weight: bold;
		color: $text;
	}

	> .item__text {
		color: $text;
		filter: brightness(60%);
	}
}

.item__image {
	overflow: hidden;
	> img {
		font-size: 2px;
		border: 0px solid black;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

