@use "./_globals" as *;

.modal__box {
	min-width: 200px;
	min-height: 80px; 
	width: fit-content;
	padding: 20px;
	background: $bg--normal;
	color: white;
	border-radius: 20px;
	position: fixed;
	z-index: 100001;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal--hidden {
	pointer-events: none;
	display: none;
}

.modal__shade {
	position: fixed;
	z-index: 100000;
	inset: 0;
	background: rgba(0, 0, 0, 0.40);
}

.modal__top {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.modal__name {
	flex: 1;
}

.modal__body {
	width: 100%;
}
