@use "./_globals" as *;

#mPlayer__musicMeter {
	height: 50px;
	position: fixed;
	left: 0; right: 0px; bottom: 4px;
	z-index: 9999;
	background: $accent;
	cursor: pointer;

}

#musicMeter__progress {
	position: fixed;
	height: 50px;
	left: inherit; bottom: inherit;
	z-index: 10000;
	background: white;
	transition: 0.2s width;
}

