@use "./globals" as *;

#mPlayer {
	padding: 5px 30px;
	height: $musicPlayerHeight;
	position: fixed;
	left: 0; right: 0; bottom: 0;
	z-index: 10001;
	background: $bg--normal;
	display: flex;
	align-items: center;
}

.mPlayer__left {
	color: $text;
	flex: 2;
	display: flex;
	gap: 20px;
}

.mPlayer__middle {
	height: 100%;
	display: flex;
	align-items: center;
	flex: 5;
}

.mPlayer__currentPlay {
	color: $text;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	
	&:hover {
		cursor: pointer;
		filter:brightness(120%);
	}

	* {
		 pointer-events: none;
	}
}

.mPlayer__currentPlayInfo {
	font-size: 14px;
	> .mPlayer__title { font-weight: bold; }
	> .mPlayer__artist { color: $text--dim; }
}

.mPlayer__albumArt {
	overflow: hidden;
	height: 100%;
	aspect-ratio: 1;
	background: $bg--shallow;
	border-radius: 5px;
}

.mPlayer__right {
	position: relative;
	flex: 1;
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	align-items: center;

	> .icon {
		transition: 0.5s transform;
	}
}

@media (max-width: 1000px) {
	.mPlayer__position {
		display: none;
	}
}
