@use "./globals" as *;

#myMusicPage {
	color: $text;
	padding: $y-margin $x-margin ;
}

.myMusicPage__section {
	margin-bottom: $y-margin;

	> h2 {
		flex: 1;
		margin-bottom: 8px;
		font-size: 20px;
	}
}

.myMusicPage__header {
	display: flex;
	align-items: center;
	gap: 50px;

	> .section__heading {
		flex: 1;
	}
}

.myMusicPage__headerUtils {
	display: flex;
	justify-content: flex-end;
}

#myMusicPage__addMusic {
	display: flex;
	color: $text;
	padding: 5px 10px;
	flex: 1;
	gap: 10px;
	background: rgb(0, 0, 0);
	border: 2px solid $bg--normal;

	&:hover {
		cursor: pointer;
	}
}
