@use "./globals" as *;

#myMusicPage {
	color: $text;
	padding: $y-margin $x-margin ;
}

.myMusicPage__section {
	margin-bottom: $y-margin;

	> h2 {
		flex: 1;
		margin-bottom: 8px;
		font-size: 20px;
	}
}
