@use "./globals" as *;

#myPlaylistPage {
	color: $text;
	padding: $y-margin $x-margin ;
}

.myPlaylistPage__section {
	margin-bottom: $y-margin;

	.contentList__item {
		border-bottom: 0px solid black;
	}

	> h2 {
		flex: 1;
		margin-bottom: 8px;
		font-size: 20px;
	}
}
