@use "./globals" as *;

#myPlaylistPage {
	color: $text;
	padding: $y-margin $x-margin ;
}

.myPlaylistPage__section {
	> h2 {
		margin-bottom: 8px;
		font-size: 20px;
	}
	margin-bottom: $y-margin;
}
