@use "./_globals" as *;

#topbar__profile {
	> .imgWrapper {
		overflow: hidden;
		background: $bg--normal;
		height: 50px;
		border-radius: 50%;
		border: 0px solid black;
		aspect-ratio: 1;
	}

	img {
		font-size: 2px;
		color: $accent;
		aspect-ratio: 1;
		height: inherit;
		object-fit: cover;
	}
}
