@use "./_globals" as *;

.sidebar__wrapper {
	flex: 1;
	transition: 0.5s flex;
}

.sidebar__wrapper--collapsed {
	flex: 0.2;
	transition: 0.5s flex;
}

#sidebar__wrapper {
	min-height: inherit;
	position: relative;
	background: $bg--shallow;
	padding: 0px 20px;
}

#sidebar {
	position: sticky;
	top: 0px;
	padding: 12px 0px;

	> .sidebar__menuGroup {
		border-radius: 7px;
		margin-bottom: 20px;
		padding: 10px;
		background: $bg--normal;
	}
}

.sidebar__menuGroup {
	> .sidebar__menu {
		align-items: center;
		display: flex;
		gap: 7px;
		margin-bottom: 10px;
	}
}

.sidebar__menu {
	position: relative;
	overflow: hidden;
	filter: brightness(50%);

	> .sidebar__menuName {
		position: absolute;
		left: 35px;
		opacity: 100%;
		transition: 0.5s opacity;
		font-weight: bold;
		color: white;
	}

	&:hover { filter: brightness(200%); }
	&:hover img { width: 80% !important; }
}

#sidebar__logo {
	&:hover {
		cursor: pointer;
	}
	width: 40px;
}

.sidebar__imgWrapper {
	position: relative;
	overflow: hidden;
	aspect-ratio: 1;
	width: 30px;

	> img {
		position: absolute;
		width: 100%;
		font-size: 2px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&:not(#sidebar__logo) > img {
		width: 70%;
		transition: 0.1s width;
	}
}

.sidebar__wrapper--collapsed {
	.sidebar__menuName {
		opacity: 0;
		transition: 0.5s opacity;
	}
}

#sidebar__logo {
	margin-left: 10px;
	margin-bottom: 30px;
}

.flt--invert {
	filter: invert(100%);
}

@media (max-width: 700px) {
	.sidebar__menuName {
		display: none;
	}
}
