@use './globals' as *;

.stats {
	display: flex;
	align-items: center;
	gap: 20px;
}

.stats--separated {
	> .stats__item {
		border-right: 1px solid $bg--normal;
	}
}

.stats__item {
	padding-right: 10px;
	text-align: center;
	font-weight: bold;
	color: $text;

	.stats__criteria { 
		filter: brightness(50%);

		> img {
			width: 20px;
			aspect-ratio: 1;
		}

		&:hover {
			filter: brightness(100%);
		}
	}

	> .userPage__imgWrapper {
		display: inline;
		width: 30px;

		> img {
			width: inherit;
		}
	}
}

