@use "./_globals" as *;

#topbar {
	position: sticky;
	z-index: 10;
	top: 0;
	border-bottom: 2px solid $bg--normal;
	padding: 10px $x-margin;
	height: 50px;
	align-items: center;
	color: $text;
	display: flex;
	background: $bg--deep;

	> #topbar__greeter {
		flex: 1;
	}

}

