@use "./globals" as *;

#userPage {
	height: 100vh;
	color: $text;
	padding: 30px $x-margin;
}

#userPage__top {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid $bg--normal;

	> .userPage__imgWrapper {
		background: $bg--shallow;
		border-radius: 50%;
		overflow: hidden;
	}

	> .userPage__imgWrapper {
		width: 200px;
	}
}

#userPage__profileSect  {
	flex: 1;

	> * {
		margin-bottom: 20px
	}
}


#profileSect__profile {
	display: grid;
	grid-template: 1fr / 1fr 50px;
	gap: 20px;
}


#profileSect__actions {
	display: flex;
	gap: 20px;

	> button {
		border: 0px solid black;
		padding: 8px 15px;
	}
}

#button--follow {
	background: $accent; color: $text;
}

.profile__names {
	.profile__name {
		font-size: 28px;
		font-weight: bold;
	}
	.profile__username {
		color: white;
		filter: brightness(50%);
	}
}

.profile__settings {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: fit-content;
	position: relative;
}

.userPage__imgWrapper {
	position: relative;
	aspect-ratio: 1;

	> img {
		aspect-ratio: inherit;
		width: inherit;
		object-fit: cover;
	}
}

.hover--bright {
	&:hover {
		filter: brightness(120%);
	}
}
