:root {
	box-sizing: border-box;
	--bg--deep: 13, 13, 13;
	--bg-bluish--lighter: rgb(53, 32, 51);
}

body {
	min-height: 100vh;
	background: rgba(var(--bg--deep), 1);
	padding-bottom: 50px;
}

* {
	padding: 0px;
	margin: 0px;
}

#root {
	height: 100vh;
}

#audio {
}

.rootGrid {
	min-height: 100vh;
	height: fit-content;
	display: flex;
}

main {
	position: relative;
	flex: 5;
}
